.projects__container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__item {
  max-width: 450px;
  @include tablet {
    max-width: 354px;
  }
  @include desktop {
    max-width: 370px;
  }
}
.projects__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px var(--box-shadow-command1),
      0px 4px 4px var(--box-shadow-project1),
      1px 4px 6px var(--box-shadow-project2);
  }
}
.projects__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.projects__kind {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.projects__img {
  display: block;
}
.projects__footer {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid var(--project-border);
  border-right: 1px solid var(--project-border);
  border-bottom: 1px solid var(--project-border);  
}
.projects__thumb {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-transparent);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--white-color);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
  .projects__link:hover & {
  transform: translateY(0);
  }
  .projects__link:focus & {
  transform: translateY(0);
  }
}