:root {
  --bcg-black: #2f303a;
  --bcg-main: #f5f4fa;
  --bcg-overlay: rgba(47, 48, 58, 0.4);
  --bcg-title: #c4c4c4;
  --bcg-feature: #f5f4fa;
  --bcg-over: rgba(47, 48, 58, 0.8);
  --bcg-backdrop: rgba(0, 0, 0, 0.2);
  --bcg-f-soc-link: rgba(255, 255, 255, 0.1);
  --main-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --accent-color: #2196f3;
  --accent-transparent: rgba(33, 150, 243, 0.9);
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --white-color: #ffffff;
  --box-shadow-btn: rgba(0, 0, 0, 0.15);
  --box-shadow-command1: rgba(0, 0, 0, 0.12);
  --box-shadow-command2: rgba(0, 0, 0, 0.14);
  --box-shadow-command3: rgba(0, 0, 0, 0.2);
  --box-shadow-filters1: rgba(0, 0, 0, 0.1);
  --box-shadow-filters2: rgba(0, 0, 0, 0.08);
  --box-shadow-project1: rgba(0, 0, 0, 0.06);
  --box-shadow-project2: rgba(0, 0, 0, 0.16);
  --head-border: #ececec;
  --project-border: #eeeeee;
  --client-icon-color: #afb1b8;
  --textarea-color: rgba(117, 117, 117, 0.5);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --border-support: rgba(255, 255, 255, 0.3);
  --border-form-field: rgba(33, 33, 33, 0.2);
}